/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #343a40; 
    color: #fff; 
}

header .display-4 {
    margin-bottom: 0.5rem; 
}

header .lead {
    font-size: 1.25rem;
}

/* Image Cards Section */
.image-cards-section {
    background-color: #fff; 
    padding-top: 60px; 
    padding-bottom: 60px; 
}

.image-card {
    border: none; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    transition: transform 0.3s ease-in-out; 
}

.image-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 50%;
    width: 70%; 
    margin: 20px auto;
}

.card-title {
    color: #333;
}

/* Pricing Section */
.pricing-section {
    background-color: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pricing-list {
    padding-left: 0;
}

.pricing-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.pricing-item:hover {
    transform: scale(1.03);
}

.pricing-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.pricing-price {
    font-size: 1.2em;
    color: #ffcc00; 
    font-weight: bold;
}

.section-title {
    color: #000;
}

.btn{
    background-color: #ffcc00;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}
