footer {
    background-color: #343a40;
    text-align: center;
}

.footerLink {
    text-decoration: none;
    font-size: 1rem;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.contactLink{
    margin-bottom: 60px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
}
