footer {
    background-color: #343a40;
    text-align: center;
}

.footerLink {
    text-decoration: none;
    font-size: 1rem;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.contactLink{
    text-decoration: none;
    font-size: 1rem;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
}

/* Mobile */
@media (max-width: 600px) {
    .contactLink{
        display: block;
        margin-bottom: 15px;
    }    
  }


